<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL Injection Detection - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Welcome, {{ username }}!</h2>
        <p>This is your secure dashboard.</p>
        <p>Your API key : {{ key }}</p>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</body>
</html>
